<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" media="screen"/>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/mjService.js"></script>
    <script src="~/Scripts/signalrService.js"></script>
    <script src="~/Scripts/controller.js"></script>

    @RenderSection("head", required: false)
</head>
<body>
    @RenderBody()

    
    @RenderSection("scripts", required: false)
</body>
</html>
